
.ion-avatar {
    margin-left: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.week-selector {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 0;
}